
<h5>Enter values <i class="bi bi-award-fill"></i></h5>

<hr />

<form method="post" asp-action="Calculate" asp-controller="Calculator">
    <label class="form-label" for="a">First number:</label>
    <input class="form-control" name="a" />
   
    <label class="form-label" for="b">Second number:</label>
    <input class="form-control" name="b" />
    
    <label class="form-label" for="operation">Arithmetic operation</label>
    <select class="form-control" name="operation">
        <option value="+">Addition</option>
        <option value="-">Subtraction</option>
        <option value="*">Multiplication</option>
        <option value="/">Division</option>
    </select>
    <br />
    <button class="btn btn-primary" type="submit">Calculate</button>
</form>